<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meoagent: Recupere sua Senha</title>
  <link rel="stylesheet" href="./recover.css">
</head>
<body>

  <strong>Olá {{name}}</strong>

  <p>
    recupere sua senha <a href="meoagent.com/recover-password/{{token}}"> clicando aqui </a>
  </p>

  <p>
    esse link é válido por 8 horas
  </p>

</body>
</html>